body {
  margin: 0;
  background-color: rgb(104, 115, 69);
  font-family: Arial, Helvetica, sans-serif;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(40, 45, 25);
  padding: 12px 24px;
}

.nav-left {
  display: flex;
  flex-direction: column;
}

.nav-name {
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
}

.nav-contact {
  margin-top: 4px;
  font-size: 0.85rem;
  color: white;
}

.nav-contact a {
  color: white;
  text-decoration: none;
}

.nav-contact a:hover {
  text-decoration: underline;
}

.nav-pages a {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
  padding: 0 14px;
  position: relative;
}

.nav-pages a:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -1px;
  top: 50%;
  transform: translateY(-50%);
  height: 1.2em;
  border-right: 2px solid white;
}

.nav-pages a {
  color: white;
  text-decoration: none;
  padding: 0 12px;
}

.nav-pages a:hover {
  text-decoration: underline;
}
